html {
  background-color: #0c120c;
}

sub,sup {
  font-family: 'Nanum Gothic Coding', monospace;
  color: #aaaaaa;
  font-size: 24px;
}

body {
  height: 760px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center
}

#countdown .timer {
  font-size: 100px;
  font-family: 'Nanum Gothic Coding', monospace;
  color: #fffcf7;
  text-align: center;
  margin: 20px;
}

#info {
  position: absolute;
  top: 40px;
  right: 40px;
  color: #fffcf7;
  width: 20px;
   font-size: 40px;
}


#info:hover {
    cursor: pointer;
}

input {
  text-align: center;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 100px;
	margin:auto;
	color:#fff;
	border-radius:12px;
	border:0px;
	min-width:80%;
  box-shadow:inset 0 0 1px 1px #888;
  background: #0a0a0a;
	min-height:200px;
}
